anyio==4.9.0
certifi==2025.7.9
configparser==7.2.0
coverage==7.9.2
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.1.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
packaging==25.0
psutil==5.9.5
Pygments==2.19.2
rich==13.4.2
sniffio==1.3.1
typing_extensions==4.14.1
websockets==11.0.3